// Couleur background
$background-clr: rgb(15,15,15);

// Font de police
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Caveat', cursive;
// Couleur de police
$primary-clr: white;
$secondary-clr: pink;
