// Import des fichiers SCSS
@import "./variable";
@import "./mixins";
// End Import des fichiers SCSS

// Reset css
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
// End Reset css

// Body
body{
    max-width: 1400px;
    height: 100vh;
    background-color: $background-clr;
}
// End Body

// Root
:root{
    font-size: 10px;
}
// End Root


// Main
.container{
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
}
// End Main

// Section Left
.section.left{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 60px;
    row-gap: 80px;
}

.top{
    display: flex;
    align-items: center;
    column-gap: 45px;

    .circle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
    }

    a{
        color: $primary-clr;
        font-family: $primary-font;
        font-size: 1.3rem;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 10px;

        span{
            font-family: $secondary-font;
            font-size: 2rem;
        }
    }
}

.center{
    display: flex;
    flex-direction: column;

    p{
        color: $primary-clr;
        font-size: 6.5rem;
        font-family: $primary-font;
        line-height: 75px;

        span{
            background: rgb(252,70,107);
            background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 57%);            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.bottom{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 25px;
    border: 1px solid $primary-clr;
    border-radius: 25px;
    width: fit-content;
    a{
        font-size: 1.5rem;
        color: $primary-clr;
        font-family: $primary-font;
    }

    i{
        @include iconFleche;
    }
}
// End Section Left

// Section Right
.section.right{
    // background-color: green;

    .grid{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "brand social"
        "website video"
        ;
        border-collapse: collapse;
        border-spacing: 0;

        h2{
            font-size: 3.2rem;
            font-family: $primary-font;
            color: $primary-clr;
        }

        i{
            @include iconFleche;
        }
    }
}

.brand{
    grid-area: brand;
    @include gridItems(0, 0, 0, 0);

    &:hover{
        background: rgb(252,70,107);
        background: linear-gradient(320deg, rgba(252,70,107,1) 20%, rgba(201,63,251,1) 86%);
    }
}

.social{
    grid-area: social;
    @include gridItems(0, 1px, 0, 1px);

    &:hover{
        background: rgb(252,70,107);
        background: linear-gradient(43deg, rgba(252,70,107,1) 20%, rgba(251,189,63,1) 86%);
    }
}

.website{
    grid-area: website;
    @include gridItems(1px, 0, 1px, 0);

    &:hover{
        background: rgb(252,70,107);
        background: linear-gradient(133deg, rgba(252,70,107,1) 13%, rgba(63,251,226,1) 95%);
    }
}

.video{
    grid-area: video;
    @include gridItems(1px, 1px, 1px, 1px);

    &:hover{
        background: rgb(252,70,107);
        background: linear-gradient(170deg, rgba(252,70,107,1) 36%, rgba(63,251,226,1) 95%);
    }
}
// End Section Right


