* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  max-width: 1400px;
  height: 100vh;
  background-color: #0f0f0f;
}

:root {
  font-size: 10px;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
}

.section.left {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 60px;
  row-gap: 80px;
}

.top {
  display: flex;
  align-items: center;
  column-gap: 45px;
}
.top .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
}
.top a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}
.top a span {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
}
.center p {
  color: white;
  font-size: 6.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 75px;
}
.center p span {
  background: #fc466b;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 25px;
  width: fit-content;
}
.bottom a {
  font-size: 1.5rem;
  color: white;
  font-family: "Poppins", sans-serif;
}
.bottom i {
  font-size: 0.8rem;
  color: white;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid white;
}

.section.right .grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "brand social" "website video";
  border-collapse: collapse;
  border-spacing: 0;
}
.section.right .grid h2 {
  font-size: 3.2rem;
  font-family: "Poppins", sans-serif;
  color: white;
}
.section.right .grid i {
  font-size: 0.8rem;
  color: white;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid white;
}

.brand {
  grid-area: brand;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #0f0f0f;
  padding: 30px;
  border-top: 0 solid grey;
  border-right: 0 solid grey;
  border-bottom: 0 solid grey;
  border-left: 0 solid grey;
  transition: 1s linear;
}
.brand:hover {
  background: #fc466b;
  background: linear-gradient(320deg, #fc466b 20%, #c93ffb 86%);
}

.social {
  grid-area: social;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #0f0f0f;
  padding: 30px;
  border-top: 0 solid grey;
  border-right: 1px solid grey;
  border-bottom: 0 solid grey;
  border-left: 1px solid grey;
  transition: 1s linear;
}
.social:hover {
  background: #fc466b;
  background: linear-gradient(43deg, #fc466b 20%, #fbbd3f 86%);
}

.website {
  grid-area: website;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #0f0f0f;
  padding: 30px;
  border-top: 1px solid grey;
  border-right: 0 solid grey;
  border-bottom: 1px solid grey;
  border-left: 0 solid grey;
  transition: 1s linear;
}
.website:hover {
  background: #fc466b;
  background: linear-gradient(133deg, #fc466b 13%, #3ffbe2 95%);
}

.video {
  grid-area: video;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #0f0f0f;
  padding: 30px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  transition: 1s linear;
}
.video:hover {
  background: #fc466b;
  background: linear-gradient(170deg, #fc466b 36%, #3ffbe2 95%);
}

/*# sourceMappingURL=style.css.map */
